{% extends 'firstapp/base.html' %}
{% block body_block %}
{% load static %}
{% load crispy_forms_tags %}

<style media="screen">
#mrgin-top{
  margin-top:80px;
}
</style>

<div class="container card card-body bg-light" id="mrgin-top">
<h1>All Classes</h1>
{% if classes %}
  {% for class in classes %}
  
  <div class="card card-body col-lg-2">
  <img src="{% static 'img/allclass.png' %}" alt="" width="150">
  <span align=center><strong>{{class.name|upper}}</strong></span>

</div>
  {% endfor %}
{% endif %}

</div>
{% endblock %}
