{% extends 'firstapp/base.html' %}
{% block body_block %}
{% load static %}
{% load crispy_forms_tags %}

<style media="screen">
#mrgin-top{
  margin-top:25px;
}
#id_img{
  margin-left:70px;
}
</style>
<div class="container" id="mrgin-top">
  <h1><br><br><br>All Students</h1>

                  <!-- SEARCH BAR START -->
                      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"  action="/searchstudent/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                          <input type="text" name="srh" class="form-control bg-dark border-1 small text-secondary" placeholder="Reg No. or Name.." >
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                              <i class="fas fa-search fa-sm"> ID or Name</i>
                            </button>
                            <a href="/viewallstudent" type="button" class="btn btn-outline-dark"><span class="fa fa-search"> All Student</span></a>
                          </div>
                        </div>
                      </form>

              <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"  action="/searchstudent/" method="post">
                        {% csrf_token %}
                      <div class="input-group">
                      <select class="" name="course">
                        {% for student in students %}
                        <option value=""></option>
                        <option value="">python</option>

                        {% endfor %}
                      </select>


                        <div class="input-group-append">
                          <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"> By Class</i>
                          </button>
                        </div>
                      </div>
                  </form> -->


                  <!-- SEARCH BAR CLOSED -->





                      <div class="container">
                        {% if sr %}
                          {% for k in sr %}
                          <img src="{{k.photo.url}}" alt="" height="150" width="150" class="rounded-circle" /><br>
                    <table>
                      <tr>
                        <td>Student Name:</td><td>{{k.stu_name}}</td>
                      </tr>
                      <tr>
                        <td>Student ID:</td><td>{{k.name_of_class}}</td>
                      </tr>
                      <tr>
                        <td>Reg-Num:</td><td>{{k.registration_num}}</td>
                      </tr>

                    </table>
                          {% endfor %}
                        {% endif %}
                      </div>

                      <!-- SEARCH BAR closed---------------------_>>>>>>>>>>>>>>>>>>>>>>. -->




{% if students %}
  {% for student in students %}
  <div class="card card-body bg-gray col-lg-4 text-center">
    <img id="id_img" src="{{student.photo.url}}" alt="" height="160" width="170" class="rounded-circle" /><br>

    <h1>{{student.stu_name|upper}}</h1>
    Reg num - {{student.registration_num}}<br>
    id-{{student.pk}}
    <div class="container">

    <!-- DELETE CONFIRMATION POPUP DIV START-->
          <div class="container">
            <a href="/updatestudent/{{student.id}}" class="btn btn-outline-info fa fa-edit" ></a>

            <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-outline-danger " data-toggle="modal" data-target="#myModal">
                  <span class="fa fa-trash" aria-hidden="true"></span></button>

                <a href="/viewstudentdetail/{{student.id}}" class="btn btn-outline-success"><span class="fa fa-search " aria-hidden="true"></span></a>
                  <!-- <a href="/updatepost/{{blog.id}}" class="btn btn-info">Update Post</a> -->
                  <!-- <a href="/deletepost/{{blog.id}}" class="btn btn-danger">Delete your Post(CBV)</a> -->

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div>
                        <div class="modal-header bg-warning" style="background:#910f06; color:white;">
                          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                          <h4 class="modal-title"><span class="fa fa-exclamation"></span> Delete Confirmation !</h4>
                        </div>
                      </div>
                      <div class="modal-body">
                        Do You Want To Delete this Student's Data!
                      </div>
                      <div class="modal-footer">
                        <a href="/deletestudent/{{student.id}}"><button type="button" class="btn btn-danger">Confirm</button></a>
                        <a href="#"> <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
  </div>

</div>
  {% endfor %}
{% endif %}

</div>
{% endblock %}
