{% extends 'firstapp/base.html' %}
{% block body_block %}
{% load static %}
{% load crispy_forms_tags %}


<style media="screen">
#mrgin-top{
  margin-top:80px;
}
</style>

<br><br><br><br>

<br><br><br>

<h1 align=center>Student Attendance Report</h1>

<table class="table table-hover">
    <thead>
      <tr>
      <td>DATE</td>  <th>ID</th>   <th>NAME</th>   <th>COURSE</th>   <th>STATUS</th>
      </tr>
    </thead>
{% if studentreport %}
  {% for data in studentreport %}
  <tr>
  <td>{{data.date}}</td> <td>{{date.id}}-</td> <td> {{data.StudentName}} </td> <td>{{data.Class}}</td> <td>{{data.status}}</td>
</tr>
  {% endfor %}
{% endif %}


{% endblock %}
